In [ ]:
 a=5
b=6

In [ ]:
def printer():
    print (a+b)

In [ ]:
printer()

11

In [ ]:
c=5

In [ ]:
c==5

True

In [ ]:
_a=4
__a=7

In [ ]:
class Robot:
    
    def __init__(self, name):
        self.name = name
        
    def say_hi(self):
        print("Hi, I am " + self.name)
        
class PhysicianRobot(Robot):
    pass

x = Robot("Marvin")
y = PhysicianRobot("James")



y.say_hi()
x.say_hi()

Hi, I am James
Hi, I am Marvin

In [ ]:
class boii:
    def __init__(self,name):
        self.name= name
    def print_(self):
        print('hi'+self.name)

a=boii("whoop")
print(a.name)

whoop

In [ ]:
dir(boii)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'print_']

In [ ]:

a_=4 # for using reserve keywords
__a__=5
a=6
_a=9 # variable is intended for internal use (private variables)
__a=91 #

In [ ]:
import pandas as pd

In [ ]:
lis=['a','b','c']
a=pd.DataFrame(columns=lis)

In [ ]:
a=pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv')

In [ ]:
a

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123